<h2 class='m-5'>table
</h2>
<div class='container mb-5'>

  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col" colspan="5">Meal table for March
        </th>
      </tr>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">rashedi</th>
        <th scope="col">rahul</th>
        <th scope="col">bappy</th>
        <th scope="col">rifat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">2022-03-1</th>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2022-03-2</th>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2022-03-3</th>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
      <tr>
        <th scope="row">2022-03-4</th>
        <td>2</td>
        <td>2</td>
        <td>2</td>
        <td>2</td>
      </tr>
    </tbody>
  </table>

</div>